@import 'assets/sass/_colors';

.container-card {
  position: relative;
  margin-top: 15%;
  padding: 20% 20px 8px;
  box-sizing: border-box;
  
  
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  background-color: white;
  border: 1px solid $greylight;

  &:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  }

  .container-card-image {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%, -35%);
    
    width: 30%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-card-content {
    text-align: center;

    .container-text {
      .card-title {
        margin-top: 15px;
        color: black;
        font-size: 12px;
        line-height: 1.25;
        font-weight: bold;
        text-transform: uppercase;
      }

      .card-author {
        margin: 8px auto;
        color: grey;
        font-size: 10px;
        line-height: 1.47;
      }
    }
  }
}

