@import "assets/sass/_colors.scss";

.podcast-summary {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);

  &__image-container {
    padding: 16px 24px;
    border-bottom: 1px solid $greylight;
    text-align: center;
  }

  &__image {
    width: 200px;
    height: 200px;
    cursor: pointer;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  &__author {
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
  }

  &__authority {
    padding: 16px 24px 8px;
    border-bottom: 1px solid $greylight;
  }

  &__description-cnt {
    padding: 16px 16px 8px;
  }

  &__description-title {
    font-size: 14px;
    font-weight: bold;
  }

  &__description {
    font-size: 12px;
    font-style: italic;
  }
}